{% extends '/pages/base.html.twig' %}

{% block title %}RecipeTsk mes ingredients{% endblock %}

{% block body %}
    <div class="contain">
    <h1>Add  ingredient </h1>
        {{ form(form) }}
    </div>
{% endblock %}