.bg-mynav {
    background-color: #0b4073;
}

body {
    font-size: 1.25rem;
    background-color: rgba(242, 242, 242, 0.93);
}

td {
    line-height: 3rem;
}
.ingredient-item {
    display: flex;
    flex-direction: column;
}
.navigation {
    display: flex; /* Allow flexbox layout */
    justify-content: center; /* Center elements horizontally */
}